{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>Published: {{ post.published_date }}</p>
                            </div>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text }}</p>
                        </div>
                    {% endfor %}
                  <!-- <div>
                       <p>published: 14.06.2014, 12:14</p>
                       <h2><a href="">How to Deploy Artificial Intelligence in the Industrial World</a></h2>
                       <p>Industrial companies want their assets to generate more revenue without investing further in infrastructure upgrades. It makes sense because the upgrade is extremely expensive! They need to leverage existing systems to achieve this. Large assets usually come with sensors that are collecting data about basic metrics like temperature, pressure, and so on. If they have a system that can intelligent assess the conditions that affect manufacturing processes, then the operators can make decisions based on that information. How do we achieve that? How does it work in practice?</p>
                   </div>
                   <div>
                       <p>published: 14.06.2014, 12:14</p>
                       <h2><a href="">Artificial Neural Networks</a></h2>
                       <p>We want our machines to learn everything on their own as much as possible. Over the past few decades, researchers have come up with many theories and formulations about how we can achieve this in the best possible way. This realm is called machine learning. We come up with algorithms to teach the machines how to learn. I have discussed more about machine learning here. Human brain seems to achieve this rather effortlessly. Our ultimate goal is to make the machines as good as our brains, or even better. The formulation of Artificial Neural Network (ANN) is an attempt towards this. </p>
                   </div> -->
                </div>
            </div>
        </div>
    </body>
</html>
